*{
  font-family: 'Montserrat';
  font-size: 100%;
}

@media (min-width: 600px) {
  .page-grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  body{overflow: hidden;}
  .right-side {
    height: 100vh;
    overflow: scroll;
  }
  .left-side {font-size:3rem;}  
  .projects-screenshots-rescyoume {
    margin: 0 -5rem 0 -5rem;
  }
  .rescyoume-screenshots-container {
    display: flex;
    justify-content:flex-start;
  } 
  .right-side, .labels, .project-title {font-size:1rem !important;} 
  .icons {font-size:1.5rem !important;}
}

@media (min-width: 300px) {
  .header {
    font-size:4rem;
  }
  .right-side {
    min-height: 100vh;
  }
  .icons {
    font-size: 1.5rem !important;
  }
}

@media (min-width:960px) { 
  .icons {
    font-size:2.5rem !important;
  }
  .projects-screenshots-rescyoume {
    margin: 0 -8rem 0 -8rem;
  }
  .right-side, .labels, .project-title {font-size:1rem !important;} 
  .left-side{font-size:4rem;}
} 

@media (min-width:1100px) { 
  .icons {
    font-size:3rem !important;
  } 
  .projects-screenshots-rescyoume {
    margin: 0 -12rem 0 -12rem;
  }
  .right-side, .labels, .project-title {
    font-size:1.25rem !important;
  } 
  .left-side {
    font-size:5rem;
  }
} 



.left-side{
  padding-left: 10%;
  padding-right: 10%;
  font-weight: bold;
  height: 100vh;
  position: relative;
}

.right-side{
  background-color: white;
  position: relative;
}

.content {
  padding: 10%;
  line-height:2.0;
  font-weight: bold;
  animation-name: appearSlowly;
  animation-duration: 3s;
  text-align: justify;
}


.pic{
  border-radius: 50%;
  border: 0.3rem solid white;
  display: block;
  margin: auto;
  filter: grayscale(100%); 
  width: 60%;
  height: auto;
}

.pic:hover{
  filter: none; 
}

.header{
  animation-name: moveToRight;
  padding-top: 10%;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

@keyframes moveToRight{
  0%{
    opacity: 0;
    transform: translateX(-100px)
  }

  80%{
    transform:translateX(10px)
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveToLeft{
  0%{
    opacity: 0;
    transform: translateX(100px)
  }

  80%{
    transform:translateX(-10px)
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes appearSlowly{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

@keyframes appearFromBottom{
  0%{
    transform:translateY(30px);
  }
  100%{
    transform:translateY(0px);
  }
}

.icons-container{
  margin-right:20px;
  bottom: 30px;
  position: absolute;
}

.icons{
  animation-name: appearFromBottom;
  animation-duration: 1.5s;
}

.icons:hover{
  transform: scale(1.2)
}
.icons:active{
  transform: scale(1)
}

#linkedin{
  color: #2867B2;
}

#github{
  color:black;
}

#mail{
  color: #D44638;
}

#codewars{
  color:black;
}

.labels{
  font-weight:bold;
}

.toolbar-container{
  position: relative;
  align-content: center;
  position: absolute;
  bottom: 20px;
  animation-name: moveToLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}


/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 480px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}

/*ensure that your images will never be bigger than their parent container*/
img { max-width: 100%; height: auto; }

.tech-tag{
  display: inline-block;
  margin: 5px;
  border: 1px solid;
  margin-right: 10px;
  margin-bottom: 12px;
  border-radius: 3em;
  padding: 6px 15px;
}

.projects-screenshots{
  width: 100%;
  height: auto
}

.project-title{
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: white;
}

.project-title:active{
  color: lightgrey;
}

.project-title{
  background-color: rgba(211, 211, 211, 40%)!important;
  color: white;
  border-radius: 15px;
  padding: 5%;
}

.project-info {
  color: white;
  padding: 5%;
  font-weight: normal;
}

.crm-screenshots-container{
  margin-top: 40px;
  margin-bottom:40px
}